h1 {
	background-color: lightgreen;
}


p {
	color: blue;
}

body {
	background-color: "assets/images/whirlpool.png";
}

#instructions {
	background-color: yellow;
}
div#scoretext{
	background-color: pink;
	height: 20px;
	width: 200px;
}

div#totalscore{
	background-color: pink;
	height: 100px;
	width: 200px;
}

#crystals{
	height: 100px;
	width: 300px;
	border: 2px solid green;
}

.crystal-image{
	width: 75px;
}